body{
    background-color:rgb(215, 230, 226);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color:black;
}
h3{
    color:rgb(216, 216, 216);
}
h4{
    color:teal;
    font-weight:bold;
}
p{
    color:black;
}
.row{
    margin-top:50px;
    min-height:100px;
    justify-content:space-between;
}
.show{
    background-color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
    color:silver;
}
.center{
    text-align:center;
}
a{
    text-decoration:none;
    color:slategrey;
}
.outline{
    border:5px black;
}